*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header,div,aside,section,main,footer,article{
    display: block;
}

a{
    text-decoration: none;
    

}

header{
    width: 100%;
    height: 99px;
    background-color: #f6f9f9;
    text-align: center;

}

header a{
    color: #264951;

}

#logo{
    display: inline-block;
    width:197px;
    height: 40px;
    background: url(images/logo.png) no-repeat left center; /*left - x axis    center - y axis */
    background-size: contain;
}
#logo img{
    padding-top: 31px;
}

#logo h3{
    padding-top: 15px;
    display: inline-block;
    /*font-size: 15px;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;   
}

header nav{
    margin-top: 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 26px;
}

header nav a{
    display: inline;
    padding-right: 10px;  
    border-right: 3px solid #264951;
}

header nav a:last-child {
    border-right: none;
}

header nav a:hover{
    color: #999999;
    text-decoration:none;
}

header nav img{
    max-height: 100px;
}



.cover{
    color:#ffff;
    /*max-width: 1600px;*/
    background: url(images/cover.jpg) no-repeat left center; /* x axis (left) and y axis (center) */
    height: 800px;
    text-align: center;

}

 .cover h1{
     padding-top: 226px;
     font-size: 110px;
     border-bottom: 2px solid #15a4fa;
     width: 542px;
     padding-bottom: 28px;
     margin: 0 auto;
 }

 .cover h4{
    margin-top: 30px;
 }

 .cover a{
     display: inline-block;
     margin-top: 30px;
     border: 1px solid #15a4fa;
     width: 112px;
     font-size: 15px;
     color: #ffff;
     padding: 20px;
 }

 #info{
     background-color: #f6f9f9;
     height: 340px;
     font-size: 12px;
     text-align: center;
 }

 #info h2{
     padding-top: 85px;
     text-align: center;
     font-size: 34px;
 }

 #info p {
    text-align: center;
     padding-top: 37px;
     font-size: 20px;
     color: #999999;
 }

#knowledge{
    height: 637px;
}

#knowledge h2{
    padding-top: 75px;
    text-align: center;
}

#knowledge ul{
    padding-top: 61px;
    margin-bottom: 112px;
}

#knowledge li{
    display: block;
    padding-left: 355px;
    padding-bottom: 20px;
}

#knowledge li img{
    height: 100px;
    width: 100px;
    vertical-align: middle;
}

#item3{
    padding-top: 10px;
}

footer{
    display:block;
    padding-left: 250px;
    height: 90px;
    line-height: 90px;
    background-color: #f6f9f9;
}

footer img{
    vertical-align: middle;
    width: 40px;
    height:40px;
    padding-left: 5px;
    padding-right: 5px;

}

footer h6{
    display:inline-block;
    font-size: 22px;
    padding-left: 16px;
}
